/* -------------------------------------------------FONTES------------------*/
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .anonymous-pro-regular {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .anonymous-pro-bold {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .anonymous-pro-regular-italic {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .anonymous-pro-bold-italic {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: italic;
  }
  
/* -------------------------------------------------------------------*/
/* -------------------------------------------------NAV BAR------------------*/
  .navbar {
    background: linear-gradient(to right, rgba(0, 132, 255), rgba(0, 162, 255));
    border-radius: 60px;
    border-color: rgb(0, 217, 255);
    border-style: solid;
    border-width: 4px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    overflow: hidden;
    font-family: "Amatic SC", sans-serif;
    font-weight: 900;
    font-style: normal;;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px; /* Reduz a altura da barra de navegação */
    width: 50%; /* Reduz a largura da barra de navegação */
    margin-top: 9px;
    position: fixed;
    right: 0; /* Alinha à direita */
    top: 4px;
    margin-right: 12px;
    
  }

  .navbar img {
    height: 60px;
    margin: 1px 10px; /* Espaçamento ao redor da imagem */
    vertical-align: middle;
    float: left;
  }
  .navbar img, .navbar a {
    transition: transform 0.3s; /* Animação suave para transformação */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
  }

  .navbar img:hover, .navbar a:hover {
    transform: scale(1.2); /* Aumenta o tamanho em 10% */
  }

  /* Estilos para o texto ao lado da navbar */
.sidebar-text {
  font-family: "Anonymous Pro", monospace;
    font-weight: 900;
    font-style: normal;
    font-size: 35px;
    letter-spacing: -6px;
  color: #10A9FF;
  position: fixed; /* Fixa na tela */
  top: 0.5px; /* Alinha com o topo */
  transform: translateX(50%); /* Ajusta precisamente a posição horizontal */
  width: calc(50% - 3px); /* Ajusta a largura considerando a borda da navbar */
  position: absolute;
  left: 0; /* Alinha à esquerda */
  top: 10%; /* Centraliza verticalmente */
  transform: translateY(-50%); /* Ajusta para centralizar */
  width: calc(100% - 50%); /* Ajusta a largura para não sobrepor a navbar */
  margin-left: 3%;
  margin-top: 10px;
}
.sidebar-text h1 {
  color: #10A9FF;
  -webkit-text-stroke: 2.5px white; /* Borda branca ao redor das letras para navegadores WebKit */
  display: inline-block; /* Para aplicar o padding e border-radius */
  /* Outros estilos como fonte, tamanho, etc., conforme necessário */
}

/* Estilos para a linha pontilhada */
.dotted-line {
  border-top: 3px dashed  #000; /* Cria uma borda superior pontilhada */
  margin-top: 20px; /* Espaçamento acima da linha pontilhada */
  margin-left: 160px;
  border-color: #ffffff;
}

  /* Animação de rotação */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Classe para adicionar a animação de rotação */
.rotating {
  animation: rotate 0.5s ease-in-out;
}

  .navbar a {
    border-radius: 30px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 2px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a:hover {
    background-color: #ffffff;
    border-radius: 20px;
    color: rgb(255, 0, 157);
  }

  .content-box-rosa {
    margin-top: -8px;
    background-color: #F800C1; /* Cor de fundo rosa */
    padding: 20px; /* Espaçamento interno */
    height: 330px; /* Reduz a altura da barra de navegação */
    width: 100%; /* Reduz a largura da barra de navegação */
    
    /* Outros estilos como largura, altura, etc., conforme necessário */
  }
  
/* -------------------------------------------------------------------*/
body {
  background-color: #ffffff;
}
