/* -------------------------------------------------FONTES------------------*/

/* Estilo para a fonte "Permanent Marker" */
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Estilo para a fonte "Indie Flower" */
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Estilo para a fonte "Amatic SC" Regular */
.amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Estilo para a fonte "Amatic SC" Bold */
.amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Estilo para a fonte "Anonymous Pro" Regular */
.anonymous-pro-regular {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
}

/* Estilo para a fonte "Anonymous Pro" Bold */
.anonymous-pro-bold {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
}

/* Estilo para a fonte "Anonymous Pro" Regular Itálico */
.anonymous-pro-regular-italic {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: italic;
}

/* Estilo para a fonte "Anonymous Pro" Bold Itálico */
.anonymous-pro-bold-italic {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: italic;
}

/* -------------------------------------------------------------------*/
/* -------------------------------------------------NAV BAR------------------*/

/* Estilos para a Barra de Navegação */
.navbar {
  /* Fundo Gradiente */
  background: linear-gradient(to right, rgba(0, 132, 255), rgba(0, 162, 255));
  /* Borda */
  border-radius: 60px;
  border-color: rgb(0, 217, 255);
  border-style: solid;
  border-width: 4px;
  /* Sombra */
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  /* Espaçamento Interno */
  padding: 5px 0;
  /* Overflow */
  overflow: hidden;
  /* Fonte */
  font-family: "Amatic SC", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
  /* Organização de Elementos Filhos */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Tamanho */
  height: 70px;
  width: 50%;
  /* Posicionamento */
  margin: 9px auto; /* Mudei a margem para automática para centralizar horizontalmente */
  top: 4px; /* Mantive o topo fixo */
  left: 25%; /* Defini o lado esquerdo em vez do lado direito */
  transform: translateX(4%); /* Usei transform para ajustar a posição central */
  position: absolute;
  z-index: 999; /* Ajuste o z-index para garantir que a barra de navegação esteja acima dos outros elementos */
}


/* Estilos para Imagem dentro da Barra de Navegação */
.navbar img {
    height: 60px;
    margin: 1px 10px;
    vertical-align: middle;
    float: left;
    /* Transição */
    transition: transform 0.3s;
    cursor: pointer;
}

/* Efeito Hover para Imagem e Links na Barra de Navegação */
.navbar img:hover, .navbar a:hover {
    transform: scale(1.2);
}

/* Estilos para Links na Barra de Navegação */
.navbar a {
    /* Borda */
    border-radius: 30px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 2px;
    /* Flutuação */
    float: left;
    display: block;
    /* Cor e Alinhamento de Texto */
    color: white;
    text-align: center;
    /* Espaçamento Interno */
    padding: 14px 16px;
    /* Tamanho da Fonte */
    font-size: 17px;
    text-decoration: none;
}

/* Efeito Hover para Links na Barra de Navegação */
.navbar a:hover {
    background-color: #ffffff;
    border-radius: 20px;
    color: rgb(255, 0, 157);
}

.sidebar-text {
    /* Fonte */
    font-family: "Anonymous Pro", monospace;
    font-weight: 900;
    font-style: normal;
    font-size: 35px;
    letter-spacing: -6px;
    /* Cor do Texto */
    color: #10A9FF;
    /* Posicionamento */
    position: absolute;
    left: 0;
    top: 10%;
    transform: translateY(-50%);
    width: calc(100% - 50%);
    margin-left: 29%;
    margin-top: 80px;
}

.sidebar-text h1 {
    color: #F800C1;
    -webkit-text-stroke: 2.5px white;
    display: inline-block;
    margin-top: 195px;
    margin-left: -3%;
    border-radius: 70px; /* Adicionando bordas arredondadas */
}

/* Estilos para Linha Pontilhada */
.dotted-line {
    /* Borda Superior Pontilhada */
    border-top: 2px dashed  #000;
    /* Espaçamento */
    margin-top: -165px;
    margin-bottom: 200px;
    margin-left: -80%;
    /* Cor da Borda */
    border-color: #ffffff;
  
    /* Tamanho */
    width: 1900px;
}

/* Animação de Rotação */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Classe para Adicionar a Animação de Rotação */
.rotating {
    animation: rotate 0.5s ease-in-out;
}

/* Estilos para Caixa de Conteúdo Rosa */
.content-box-rosa {
    /* Espaçamento */
    margin-top: -8px;
    /* Cor de Fundo */
    background-color: #0094E8;
    /* Espaçamento Interno */
    padding: 20px;
    /* Tamanho */
    height: 230px;
    width: 1900px;
    margin-left: -10%;
    /* Outros Estilos conforme Necessário */
}

/* Posicionamento do Sackboy Olhando */
.sackboy_olhando {
    margin-left: 15%;
    margin-top: -5px;
    position: absolute;
}

/* -------------------------------------------------------------------*/

/* Estilos Globais para o Corpo do Documento */
body {
    /* Cor de Fundo */
    background-color: #ffffff;
}
