.caveat-uniquifier {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  
  .amatic-sc-regular {
      font-family: "Amatic SC", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    .amatic-sc-bold {
      font-family: "Amatic SC", sans-serif;
      font-weight: 700;
      font-style: normal;
    }
  
    body{
      width: 100%;
      height: 111vh;
      background-image: url(../cadastro!.png);
      background-repeat: no-repeat;
      background-size: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      /* position: fixed; */
    }
  
    .navbar {
      position: relative;
      margin-top: 10px;
    }
    
    .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    .navbar li {
      display: inline;
      margin-right: 20px;
    }
    
    .navbar a {
      font-family: 'Inter', sans-serif; /* Usando a fonte INTER */
      font-size: 20px;
      text-decoration: none;
      font-weight: bold;
      background-color: rgb(255, 255, 255);
      border-radius: 4px;
      padding: 3px;
  
    }
    
    .navbar .inicio {
      color: #1abc9c; /* Cor inicial para o botão "Início" */
  }
  
  .navbar .login {
      color: #3498db; /* Cor inicial para o botão "Login" */
  }
  
  .navbar .jogos {
      color: #f1c40f; /* Cor inicial para o botão "Jogos" */
  }
  
  .navbar .projeto {
      color: #e74c3c; /* Cor inicial para o botão "Projeto" */
  }
  
  .navbar a:hover {
      color: #000000;
  }
    
  .video{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.inputs{
    width: 240px;
    border: none;
    background-color: transparent;
    border-bottom: solid 2px #000000;
}

.botao{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 39%;
    margin-top: 30px;
    width: 300px;
    border: solid 2px black;
    border-radius: 10px;
    padding: 7px;
    font-size: 20px;
    background-color: #1ad1ac;
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.botao:hover{
  background-color: #12cea8;
  color: white;
  transform: scale(1.2); /* Adiciona uma escala de 1.1 para a imagem */
  cursor: pointer;
  transition: transform 0.3s ease; /* Adiciona uma transição suave */
    color: white;
}

.conteudo{
  width: 60%;
  margin-left: 20%;
  margin-top: 13%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
}

.mensagem_erro{
  color: red;
  font-size: 27px;
  font-weight: 700;
  font-style: normal;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}