.caveat-uniquifier {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  
  .amatic-sc-regular {
      font-family: "Amatic SC", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    .amatic-sc-bold {
      font-family: "Amatic SC", sans-serif;
      font-weight: 700;
      font-style: normal;
    }
  
    body{
      width: 100%;
      height: 111vh;
      background-image: url(../lbp1.png);
      background-repeat: no-repeat;
      background-size: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      /* position: fixed; */
    }
  
    .navbar {
      position: relative;
      margin-top: 10px;
    }
    
    .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    .navbar li {
      display: inline;
      margin-right: 20px;
    }
    
    .navbar a {
      font-family: 'Inter', sans-serif; /* Usando a fonte INTER */
      font-size: 20px;
      text-decoration: none;
      font-weight: bold;
      background-color: rgb(255, 255, 255);
      border-radius: 4px;
      padding: 3px;
  
    }
    
    .navbar .inicio {
      color: #1abc9c; /* Cor inicial para o botão "Início" */
  }
  
  .navbar .login {
      color: #3498db; /* Cor inicial para o botão "Login" */
  }
  
  .navbar .jogos {
      color: #f1c40f; /* Cor inicial para o botão "Jogos" */
  }
  
  .navbar .projeto {
      color: #e74c3c; /* Cor inicial para o botão "Projeto" */
  }
  
  .navbar a:hover {
      color: #000000;
  }
    